<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付界面</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
       <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}" />
       <!-- Skin CSS -->
	<link rel="stylesheet" href="{% static 'css/default.css' %}" />
    <style type="text/css">
           body {
           background-image: url("{% static 'images/bg.png'%}");
           }
    </style>
</head>
<body>
    <section class ="body-sign">
        <div class ="center-sign">
            <form action="/compesate_history/">
                <div class ="panel-body" style="text-align: center">
                    <h>以下二维码只是模拟支付过程，请不要扫(可直接点击已支付进入下个界面)</h>
                    <img src="{% static 'images/pay.jpg'%}" style="width: 50%; height: 100%">
                    <div class ="col-sm-16 text-center">
                        <button type = "submit" class ="btn btn-primary hidden-xs">已支付</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>