<!doctype html>
{% load static %}
<html class="fixed">
   <head>
       <!-- Basic -->
       <meta charset="UTF-8">
       <title>赔偿历史查询</title>
       <!-- Vendor CSS -->
       <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
       <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
       <!-- Specific Page Vendor CSS -->
       <link rel="stylesheet" href="{% static 'css/select2.css' %}" />
       <!-- Theme CSS -->
       <link rel="stylesheet" href="{% static 'css/theme-search.css' %}" />
       <!-- Skin CSS -->
       <link rel="stylesheet" href="{% static 'css/default.css' %}" />
       <!-- Head Libs -->
       <script src="{% static 'js/modernizr.js' %}"></script>
       <style type="text/css">
           body {
           background-image: url("{% static 'images/bg.png' %}");
           }
       </style>
   </head>
   <body>
       <section class="body">
           <div class="inner-wrapper">
       		<section role="main" class="content-body">
					<header class="page-header">
       				<h2>赔偿历史查询：1751988</h2>
       			</header>
      				<section class="panel">
						<header class="panel-heading">
   						<h2 class="panel-title">超期未处理图书</h2>
   					</header>
   					<div class="panel-body">
   					    <table class ="table table-bordered table-striped mb-none" id="datatable-default" name="table-notreturn">
<thead><tr><th>条码号</th>
<th>书名</th>
<th>借书日期</th>
<th>还书日期</th>
<th>应还日期</th>
<th>应赔价格</th>
</tr></thead>

</table>                       </div>
                   </section>
      				<section class="panel">
						<header class="panel-heading">
   						<h2 class="panel-title">遗失图书赔偿历史</h2>
   					</header>
   					<div class="panel-body">
   					    <table class ="table table-bordered table-striped mb-none" id="datatable-default" name="table-returned">
<thead><tr><th>条码号</th>
<th>书名</th>
<th>罚款日期</th>
<th>赔偿价格</th>
</tr></thead>
<tr><td>3124791</td>
<td>数据库原理及应用</td>
<td>2020-04-17</td>
<td>CNY59.80</td>
</tr>
<tr><td>3124792</td>
<td>数据库原理及应用</td>
<td>2020-04-17</td>
<td>CNY59.80</td>
</tr>
<tr><td>3124791</td>
<td>数据库原理及应用</td>
<td>2020-04-17</td>
<td>CNY59.80</td>
</tr>
<tr><td>3124791</td>
<td>数据库原理及应用</td>
<td>2020-04-17</td>
<td>CNY59.80</td>
</tr>
<tr><td>3124791</td>
<td>数据库原理及应用</td>
<td>2020-04-17</td>
<td>CNY59.80</td>
</tr>
<tr><td>3124791</td>
<td>数据库原理及应用</td>
<td>2020-04-17</td>
<td>CNY59.80</td>
</tr>
<tr><td>3124791</td>
<td>数据库原理及应用</td>
<td>2020-04-17</td>
<td>CNY59.80</td>
</tr>
</table>                       </div>
                   </section>
      				<section class="panel">
						<header class="panel-heading">
   						<h2 class="panel-title">超期图书赔偿历史</h2>
   					</header>
   					<div class="panel-body">
   					    <table class ="table table-bordered table-striped mb-none" id="datatable-default" name="table-returned">
<thead><tr><th>条码号</th>
<th>书名</th>
<th>罚款日期</th>
<th>赔偿价格</th>
</tr></thead>
<tr><td>3124791</td>
<td>数据库原理及应用</td>
<td>2020-06-30</td>
<td>0.250000</td>
</tr>
<tr><td>3124791</td>
<td>数据库原理及应用</td>
<td>2020-04-25</td>
<td>0.100000</td>
</tr>
</table>                       </div>
                   </section>
               <!-- end: page-->
               </section>
           </div>
       </section>
       <!-- Vendor -->
       <script src = "{% static 'js/jquery.js' %}"></script>
       <script src = "{% static 'js/nanoscroller.js' %}"></script>
       <!-- Specific Page Vendor -->
       <script src = "{% static 'js/select2.js' %}"></script>
       <script src = "{% static 'js/jquery.dataTables.js' %}"></script>
       <script src = "{% static 'js/datatables.js' %}"></script>
       < !-- Theme Base, Components and Settings -->
       <script src = "{% static 'js/theme.js' %}"></script>
       <script src = "{% static 'js/examples.datatables.row.with.details.js' %}"></script>
       < !-- Examples -->
   </body >
</html >
