<!doctype html>
{% load static %}
<html class ="fixed">
   <head>
       <meta charset="UTF-8">
       <title>同济大学图书馆---还书</title>
       <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
       <link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}" />
       <!-- Theme CSS -->
       <link rel="stylesheet" href="{% static 'css/theme.css' %}" />
       <!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'css/default.css' %}" />
       <!-- Head Libs -->
       <script src="{% static 'js/modernizr.js' %}"></script>
       <style type="text/css">
           body {
           background-image: url("{% static 'images/bg.png'%}");
           }
       </style>
   </head>
   <body>
       <section class ="body-sign">
           <div class ="center-sign">
               <div class ="panel panel-sign">
                   <div class ="panel-title-sign mt-xl text-right">
                       <h2 class ="title text-uppercase text-bold m-none"><i class ="fa fa-user mr-xs"></i>还书服务</h2>
                   </div>
                   <div class ="panel-body">
                       <form class ="form-horizontal form-bordered" action="/return_book/" method="post">
                           {% csrf_token %}                           <div class ="form-group">
                               <label class ="col-md-3 control-label">选择要还的书</label>
                               <div class ="col-md-6" >
                                   <select class ="form-control" multiple="multiple" data-plugin-multiselect data-plugin-options='{ "includeSelectAllOption": true }' id="ms_example">
                                       <optgroup label="超期图书">                                       </optgroup>                                       <optgroup label="未超期图书">                                       </optgroup>                                   </select>
                               </div>
                           </div>
                           <div align = "center">
                               <button type = "submit" class ="btn btn-primary hidden-xs">还书</button>
                               <button type = "submit" class ="btn btn-primary btn-block btn-lg visible-xs mt-lg">return</button>
                           </div>
                       </form>
                   </div>
               </div>
           </div>
       </section>
       <!-- Vendor -->
       <script src = "{% static 'js/jquery.js' %}"></script>
       <script src = "{% static 'js/bootstrap.js' %}"></script>
       <script src = "{% static 'js/nanoscroller.js' %}"></script>
       <script src = "{% static 'js/bootstrap-multiselect.js' %}"></script>
       <!-- Theme Base, Components and Settings -->
       <script src = "{% static 'js/theme.js' %}"></script>
       <!-- Theme  Initialization Files -->
       <script src = "{% static 'js/theme.init.js' %}"></script>
   </body>
</html>
