<!DOCTYPE html>
{% load static %}
<html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>Title</title>
     <script src="{% static 'js/test.js' %}"></script>
{#     <script src="add.js"></script>#}
 </head>
 <body>
     <div id="org"></div>
        <input type="button" onclick="add1();" value="添加" />

        <script type="text/javascript">
        function add1(){
            var input1 = document.createElement('input');
            input1.setAttribute('type', 'text');
            input1.setAttribute('name', 'organizers[]');
            input1.setAttribute('class', 'git');

            var btn1 = document.getElementById("org");
            btn1.insertBefore(input1,null);
        }
        </script>
 </body>
 </html>